<mat-toolbar color="primary">
    <span>NgCollege</span>
    <span class="example-spacer"></span>
    <div class="example-sidenav-content">
        <a color="primary" mat-flat-button routerLink="/login" routerLinkActive="mat-accent">Login</a
    >
    <a
      color="primary"
      mat-flat-button
      routerLink="/dashboard"
      routerLinkActive="mat-accent"
      >Dashboard</a
    >
    <a
      color="primary"
      mat-flat-button
      routerLink="/departments"
      routerLinkActive="mat-accent"
      >Departments</a
    >
  </div>
</mat-toolbar>