.sidebar {
  list-style-type: none;
}

.sidebar li {
  background-color: #3F51B5;
  padding: 1em;
  color: #fff;
  width: 100%;
  font-weight: 400;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    background-color: darken(#3F51B5, 10);
  }
}