<h1>Dashboard</h1>
<mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search" [(ngModel)]="search" name="search" />
</mat-form-field>

<table class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <tr class="table-head">
        <th mat-sort-header="firstName">First Name</th>
        <th mat-sort-header="lastName">Last Name</th>
        <th>Class</th>
        <th>Address</th>
        <th>Department</th>
    </tr>

    <tr *ngFor="let student of sortedData">
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.class }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.department }}</td>
    </tr>
</table>